/* Override some defaults */
html, body {
  font-family: 'Lora', serif;
  background: url("../img/whitey.png") repeat #eee;
}
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.navbar {
  margin-bottom: 0;
}

.navbar .brand {
  float: right;
  padding-right: 5px;
  font-family: 'Abril Fatface', cursive;
}
.navbar .brand:hover{
  color: #555;
}
.navbar .nav > li > a {
  font-style: italic;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  box-shadow: none;
  background: none;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
}


emph {
  font-style: italic;
}
.container > footer {
  margin-top: 20px;
}
.container> footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  min-height: 300px;
  background-color: #fff;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

div.center{
  text-align: center;
}

.topbar .btn {
  border: 0;
}

/* Responsive stuff */

@media (max-width: 767px) {
  .content {
      padding: 15px;
    }
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	padding-bottom: 20px;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	